.navbar {
    background-color: transparent;
}
body {
background-image: url('images/pexels-amusan-john-7745573.jpg'); /* Replace 'your-background-image.jpg' with your actual image URL */
background-size: cover;
background-position: center;
background-attachment: fixed;
color: #b51212; /* Set text color to white or light color for better visibility on the background */
}

.centered-buttons {
position: relative;
top: 50%;
text-align: center;
padding: 200px;


/* position: relative;
width: 100%;
height: 400px;
min-width: 100vh;
display: flex;
justify-content: center;
margin-top: 200px; */
}

.button-container {
max-width: 800px;
margin: 20px auto;
text-align: center;
}

/* Style des petits boutons */
.small-button {
display: inline-block;
margin: 0 10px;
text-decoration: none;
color: #000000;
background-color: rgb(217, 217, 199) ;
border: 2px solid rgb(217, 217, 199) ;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s, border 0.3s;
}

/* Effet de survol */
.small-button:hover {
background-color: rgb(123, 120, 120);
border: 2px solid #767272;
color: black;
}

.centered-buttons a {
margin: 10px;
padding: 10px 10px;
font-size: 18px;
}
.carousel-item img{
height: 400px;
width: 100%;
object-fit: scale-down;
border-radius: 20px;
opacity: 0.5;

}
.carousel-inner{
height: 400px;
background-size: cover;
background-color:  #505050;
opacity: 1;
}



/* dark mode */
/* Add dark mode styles here */
body.dark-mode {
background-color: #333;
color: #fff;
background-image: none;
background-color: black;

}

body.dark-mode {

background-color: #333;
}


/* Add light mode styles here */
/* body.light-mode {
background-color: #fff;
color: #333;
} */

.navbar.fond-alternatif {
background: rgb(33, 66, 28);
color: #000000;
}





/*==================== 
Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
footer{
font-family: 'DM Serif Display', serif;
background-color: black;
color: #edf2fc;

} 
/* le buton subscribe est noir et se fais pas voir */

#subscribe{
background-color: #ff8d1e;
}